<!DOCTYPE html>
<html lang="en" style="background-color: #f5f5f5;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/public.css">
  <link rel="stylesheet" href="./css/cart.css">
  <style>
    @font-face {
      font-family: 'iconfont';
      src: url('./font/iconfont.eot');
      src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
          url('./font/iconfont.woff2') format('woff2'),
          url('./font/iconfont.woff') format('woff'),
          url('./font/iconfont.ttf') format('truetype'),
          url('./font/iconfont.svg#iconfont') format('svg');
    }
    .iconfont {
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>
<body style="background-color: #f5f5f5;">

  <div class="header1">
    <div class="address every">
        <span  class="iconfont">&#xe502;
          <a>北京</a>
        </span>
        <ul>
          <li>手机京东</li>
          <li>网站导航</li>
          <li>客户服务</li>
          <li style="color: red;">企业采购</li>
          <li>京东会员</li>
          <li>我的京东</li>
          <li>我的订单</li>
          <li style="color: red;">免费注册</li>
          <li style="margin-right: 0;">
            <a class="off" href="./login.html">您好! 请登录</a>
            <span class="on text-danger hide" style="margin-right: 10px;">欢迎您: XX</span>
          </li>
        </ul>
    </div>
  </div>

  <div class="header2">
    <div class="logo every">
        <img src="./images/logo.jpg" alt="" style="width: 120px; height: 101px;">
        <div class="forms">
          <input type="text" class="inp"><button class="but"><span class="iconfont">&#xe636;</span></button>
          <span class="iconfont">&#xe675;</span>
          <ul class="form-one"></ul>
        </div>
        
        <div class="login-next">
          <img src="https://img14.360buyimg.com/babel/jfs/t1/146737/40/17367/38761/5fd02240Eddbec48f/37ac502740ceae6b.png.webp" alt="">
        </div>
        <div class="list-next">
          <ul>
            <li>秒杀</li>
            <li>优惠券</li>
            <li>PLUS会员</li>
            <li>品牌闪购</li>
            <li>拍卖</li>
            <li>京东家电</li>
            <li>京东超市</li>
            <li>京东生鲜</li>
            <li>京东国际</li>
            <li>京东金融</li>
          </ul>
        </div>
    </div>
  </div>

  <div class="off content container">
    <div class="jumbotron">
      <h1>您的购物车里面没有商品</h1>
      <p><a class="btn btn-primary btn-lg" href="./list.html" role="button">现在去选购</a></p>
    </div>
  </div>

  <div class="on content container hide one">
    
  </div>
 <a href="./list.html"></a>

  <div class="footer every">
    <div class="max">
      <ul>
        <li>
          <img src="./images/duo.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/kuai.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/hao.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/sheng.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
      </ul>
    </div>
    <div class="none"></div>
    <div class="over">
      <div class="help">
        <h5>购物指南</h5>
        <ul>
          <li>购物流程</li>
          <li>会员介绍</li>
          <li>生活旅行</li>
          <li>常见问题</li>
          <li>大家电</li>
          <li>联系客服</li>
        </ul>
      </div>

      <div class="help">
        <h5>配送方式</h5>
        <ul>
          <li>上门自提</li>
          <li>211限时达</li>
          <li>配送服务查询</li>
          <li>配送费收取标准</li>
          <li>海外配送</li>
        </ul>
      </div>

      <div class="help">
        <h5>支付方式</h5>
        <ul>
          <li>货到付款</li>
          <li>在线支付</li>
          <li>分期付款</li>
          <li>公司转账</li>
        </ul>
      </div>
      
      <div class="help">
        <h5>售后服务</h5>
        <ul>
          <li>售后政策</li>
          <li>价格保护</li>
          <li>退款说明</li>
          <li>返修/退换货</li>
          <li>取消订单</li>
        </ul>
      </div>

      <div class="help">
        <h5>特色服务</h5>
        <ul>
          <li>夺宝岛</li>
          <li>DIY装机</li>
          <li>延保服务</li>
          <li>京东E卡</li>
          <li>京东通信</li>
          <li>京鱼座智能</li>
        </ul>
      </div>

      <div class="help">
        <h5>京东自营覆盖区县</h5>
        <p>
          京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。
        </p>
        <h6>查看详情</h6>
      </div>
    </div>
    <div class="list-over">
      <ul>
        <li><span>关于我们</span></li>
        <li><span>联系我们</span></li>
        <li><span>联系客服</span></li>
        <li><span>合作招商</span></li>
        <li><span>商家帮助</span></li>
        <li><span>营销中心</span></li>
        <li><span>手机京东</span></li>
        <li><span>友情链接</span></li>
        <li><span>销售联盟</span></li>
        <li><span>京东社区</span></li>
        <li><span>风险监测</span></li>
        <li><span>隐私政策</span></li>
        <li><span>京东公益</span></li>
        <li><span>English Site</span></li>
        <li style="border: none;"><span>Media & IR</span></li>
      </ul>
    </div>
    <div class="list-next1">
      <ul>
        <li><span>京公网安备 11000002000088号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;互联网药品信息服务资格证编号(京)-经营性-2014-0008&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;新出发京零 字第大120007号&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>互联网出版许可证编号新出网证(京)字150号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;网络文化经营许可证京网文[2014]2148-348号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东JD.com 版权所有&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;消费者维权热线：4006067733 &nbsp; 经营证照 &nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;(京)网械平台备字(2018)第00003号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;营业执照&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>Global Site&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Сайт России&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Situs Indonesia&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Sitio de España&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;เว็บไซต์ประเทศไทย&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东旗下网站：京东钱包&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;京东智联云&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <img src="./images/last.png" alt="">

  </div>

  <script src="./assets/jquery/jquery.min.js"></script>
  <script src="./js/public.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/form.js"></script>
  <script src="./js/cart.js"></script>
</body>
</html>