<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/public.css">
  <link rel="stylesheet" href="./css/index.css">
  <style>
    @font-face {
      font-family: 'iconfont';
      src: url('./font/iconfont.eot');
      src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
          url('./font/iconfont.woff2') format('woff2'),
          url('./font/iconfont.woff') format('woff'),
          url('./font/iconfont.ttf') format('truetype'),
          url('./font/iconfont.svg#iconfont') format('svg');
    }
    .iconfont {
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>
<body>
  <!-- 网站头部标签 --> 
  <div class="header1">
    <div class="address every">
        <span  class="iconfont">&#xe502;
          <a>北京</a>
        </span>
        <ul>
          <li>手机京东</li>
          <li>网站导航</li>
          <li>客户服务</li>
          <li style="color: red;">企业采购</li>
          <li>京东会员</li>
          <li>我的京东</li>
          <li>我的订单</li>
          <li style="color: red;">免费注册</li>
          <li style="margin-right: 0;">
            <a class="off" href="./login.html">您好! 请登录</a>
            <span class="on text-danger hide" style="margin-right: 10px;">欢迎您: XX</span>
          </li>
        </ul>
    </div>
  </div>

  <!-- 搜索引擎 -->
  <div class="header2">
    <div class="logo every">
        <img src="https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/2ff7a1a01305c5081d75f15fa6f9b223.gif" alt="" style="width: 160px; height: 130px;">
        <div class="forms">
          <input type="text" class="inp"><button class="but"><span class="iconfont">&#xe636;</span></button>
          <span class="iconfont">&#xe675;</span>
          <ul class="form-one"></ul>
        </div>
        <div class="dropdown">
          <span class="iconfont">&#xe62e;</span>
          <a href="./cart.html">我的购物车</a>
        </div>
        <div class="login-next">
          <img src="https://img14.360buyimg.com/babel/jfs/t1/146737/40/17367/38761/5fd02240Eddbec48f/37ac502740ceae6b.png.webp" alt="">
        </div>
        <div class="list-next">
          <ul>
            <li>秒杀</li>
            <li>优惠券</li>
            <li>PLUS会员</li>
            <li>品牌闪购</li>
            <li>拍卖</li>
            <li>京东家电</li>
            <li>京东超市</li>
            <li>京东生鲜</li>
            <li>京东国际</li>
            <li>京东金融</li>
          </ul>
        </div>
    </div>
  </div>
  
  <!-- 轮播图 -->
  <div class="list-one">
    <div class="list every">
      <ul>
        <li>
          <a href="./list.html">家用电器</a>
        </li>
        <li>
          <a href="./list.html">手机</a> /
          <a href="./list.html">运营商</a> /
          <a href="./list.html">数码</a>
        </li>
        <li>
          <a href="./list.html">电脑</a> /
          <a href="./list.html">办公</a>
        </li>
        <li>
          <a href="./list.html">家居</a> /
          <a href="./list.html">家具</a> /
          <a href="./list.html">家装</a> /
          <a href="./list.html">厨具</a>
        </li>
        <li>
          <a href="./list.html">男装</a> /
          <a href="./list.html">女装</a> /
          <a href="./list.html">童装</a> /
          <a href="./list.html">内衣</a>
        </li>
        <li>
          <a href="./list.html">美妆</a> /
          <a href="./list.html">个护清洁</a> /
          <a href="./list.html">宠物</a>
        </li>
        <li>
          <a href="./list.html">女鞋</a> /
          <a href="./list.html">鞋包</a> /
          <a href="./list.html">钟表</a> /
          <a href="./list.html">珠宝</a>
        </li>
        <li>
          <a href="./list.html">男鞋</a> /
          <a href="./list.html">运动</a> /
          <a href="./list.html">户外</a>
        </li>
        <li>
          <a href="./list.html">房产</a> /
          <a href="./list.html">汽车</a> /
          <a href="./list.html">汽车用品</a>
        </li>
        <li>
          <a href="./list.html">母婴</a> /
          <a href="./list.html">玩具乐器</a>
        </li>
        <li>
          <a href="./list.html">食品</a> /
          <a href="./list.html">酒类</a> /
          <a href="./list.html">生鲜</a> /
          <a href="./list.html">特产</a>
        </li>
        <li>
          <a href="./list.html">艺术</a> /
          <a href="./list.html">礼品鲜花</a> /
          <a href="./list.html">农资绿植</a>
        </li>
        <li>
          <a href="./list.html">医疗保健</a> /
          <a href="./list.html">计生情趣</a>
        </li>
        <li>
          <a href="./list.html">图书</a> /
          <a href="./list.html">文娱</a> /
          <a href="./list.html">教育</a>/
          <a href="./list.html">电子书</a>
        </li>
        <li>
          <a href="./list.html">机票</a> /
          <a href="./list.html">酒店</a> /
          <a href="./list.html">旅游</a> /
          <a href="./list.html">生活</a>
        </li>
        <li>
          <a href="./list.html">理财</a> /
          <a href="./list.html">众筹</a> /
          <a href="./list.html">白条</a> /
          <a href="./list.html">保险</a>
        </li>
        <li>
          <a href="./list.html">安装</a> /
          <a href="./list.html">维修</a> /
          <a href="./list.html">清洗</a> /
          <a href="./list.html">二手</a>
        </li>
        <li>
          <a href="./list.html">工业品</a>
        </li>
      </ul>
      <div class="lunbo">
          <div class="banner">
            <ul class="imgBox">
              <li><img src="./images/lunbo1.jpg" alt=""></li>
              <li><img src="./images/lunbo2.jpg" alt=""></li>
              <li><img src="./images/lunbo3.jpg" alt=""></li>
              <li><img src="./images/lunbo4.jpg" alt=""></li>
              <li><img src="./images/lunbo5.jpg" alt=""></li>
              <li><img src="./images/lunbo6.jpg" alt=""></li>
              <li><img src="./images/lunbo7.jpg" alt=""></li>
              <li><img src="./images/lunbo8.jpg" alt=""></li>
            </ul>
            <ol class="pointBox"></ol>
            <div class="leftRightBox">
              <div class="left">&lt;</div>
              <div class="right">&gt;</div>
            </div>
          </div>
          <div class="banner2">
            <div class="a1">
              <img src="./images/luobo9.jpg" alt="">
            </div>
            <div class="a2">
              <img src="./images/luobo10.jpg" alt="">
              <div class="leftRightBox">
                <div class="left">&lt;</div>
                <div class="right">&gt;</div>
              </div>
            </div>
            <div class="a3">
              <img src="./images/luobo11.jpg" alt="">
            </div>
          </div>
      </div>
      <div class="logion">
        <div class="user">
          <img src="./images/logo2.png" alt="">
          <div class="user1 off">
            Hi~欢迎逛京东!<br>
            <div class="a1">
              <a href="./login.html" style="color: #333;">登录</a>|<a href="" style="color: #333;">注册</a>
            </div>
          </div>
          <span class="on text-danger hide hi" style="font-size: 12px; color: #e1251b; margin-top: 25px; float: left; margin-left: 20px; cursor: pointer;">hi, </span>

          <div class="plus">
            <a href="#" style="background: #e1251b; color: #fff;">新人福利</a>
            <a href="" style="background: #363634; color: #e5d790;">PLUS会员</a>
          </div>
        </div>
        <div class="news">
          <div class="new1">
            <b>京东快报</b><span style="margin-left: 70px; color: #666; cursor: pointer;">更多 ></span>
          </div>
          <div class="new2">
            <ul>
              <li>
                <span>热议</span>秋冬刷街不要盲目跟...
              </li>
              <li>
                <span>最新</span>健康还不长胖的零食...
              </li>
              <li>
                <span>HOT</span>相比AJ11, 听听皮...
              </li>
              <li>
                <span>热评</span>realme X测评：留...
              </li>
            </ul>
          </div>
        </div>
        <div class="service">
          <ul>
            <li>
              <span class="iconfont" style="color: skyblue;">&#xe6ce;</span>
              <p>话费</p>
            </li>
            <li>
              <span class="iconfont" style="color: orange;">&#xe50b;</span>
              <p>机票</p>
            </li>
            <li>
              <span class="iconfont" style="color: springgreen;">&#xe623;</span>
              <p>酒店</p>
            </li>
            <li>
              <span class="iconfont" style="color: orange;">&#xe609;</span>
              <p>游戏</p>
            </li>
            <li>
              <span class="iconfont" style="color: springgreen;">&#xe697;</span>
              <p>机油卡</p>
            </li>
            <li>
              <span class="iconfont" style="color: rgb(255, 67, 20);">&#xe501;</span>
              <p>火车票</p>
            </li>
            <li>
              <span class="iconfont" style="color: springgreen;">&#xe61b;</span>
              <p>众筹</p>
            </li>
            <li>
              <span class="iconfont" style="color: skyblue;">&#xe692;</span>
              <p>理财</p>
            </li>
            <li>
              <span class="iconfont" style="color: rgb(255, 67, 20);">&#xe622;</span>
              <p>白条</p>
            </li>
            <li>
              <span class="iconfont" style="color: rgb(255, 67, 20);">&#xe504;</span>
              <p>电影票</p>
            </li>
            <li>
              <span class="iconfont">&#xe607;</span>
              <p>企业购</p>
            </li>
            <li>
              <span class="iconfont" style="color: orange;">&#xe638;</span>
              <p>礼品卡</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div class="back"></div>
  </div>


  <!-- 秒杀 -->
  <div class="a-kill">
    <div class="kill every">
      <div class="one-kill">
        <div class="title">京东秒杀</div>
        <div class="title2">
          <span class="iconfont" style="font-size: 50px;">&#xe606;</span>
        </div>
        <div class="time1"><b style="font-weight:600;">16:00</b>点场 倒计时</div>
        <div class="time2">
          <span>01</span>:<span style="margin: 0 3px 3px 0">19</span>:<span>50</span>
        </div>
      </div>
      <div class="two-kill">
        <ul>
          <li>
            <img src="https://img10.360buyimg.com/seckillcms/s280x280_jfs/t1/135037/34/6781/47802/5f334706E7c84e97b/ab070493f6235b80.jpg.webp" alt="">
            <p>小米 红米K30至尊版纪念版...</p>
            <div class="b">
              <div class="b1">￥2198.00</div>
              <div class="b2">￥2899.00</div>
            </div>
          </li>
          <li>
            <img src="https://img13.360buyimg.com/seckillcms/s280x280_jfs/t1/131527/14/8309/82082/5f470915E781f3588/a4c353c62a8488c8.jpg.webp" alt="">
            <p>中兴 ZTE V2020 Smart孝心...</p>
            <div class="b">
              <div class="b1">￥789.00</div>
              <div class="b2">￥899.00</div>
            </div>
          </li>
          <li>
            <img src="https://img11.360buyimg.com/seckillcms/s280x280_jfs/t1/108026/34/14255/109472/5ea55bdfEedeec507/e21a69a1456dd33c.jpg.webp" alt="">
            <p>【向往的生活同款】小米10...</p>
            <div class="b">
              <div class="b1">￥2269.00</div>
              <div class="b2">￥2299.00</div>
            </div>
          </li>
          <li>
            <img src="https://img11.360buyimg.com/seckillcms/s280x280_jfs/t1/135427/37/18328/91493/5fc8b83eE488dea3a/54bcac61a3e59029.jpg.webp" alt="">
            <p>【2箱装】认养一头牛 全脂...</p>
            <div class="b">
              <div class="b1">￥89.90</div>
              <div class="b2">￥129.00</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="three-kill">
        <div class="image">
          <img src="https://img20.360buyimg.com/seckillcms/s260x260_jfs/t1/145946/21/16195/97771/5fc38f19E901e3c86/285b94fa35b3e7d8.jpg.webp" alt="">
          <p>健康好物狂欢购</p>
          <b>爆品秒杀</b> <br>
          <div>
            <span>品类秒杀 ></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 0元抽好礼 -->
  <div class="activity">
    <div class="activity-one every">
      <img src="./images/￥0.png" alt="" style="cursor: pointer;">
    </div>
  </div>

  <!-- 每日特价 -->
  <div class="box">

    <div class="box-a every">
      <div class="days">
        <div class="days-one">
          <h3>每日特价&nbsp;</h3>
          <span class="iconfont">&#xe512;</span>
          <ul>
            <li>精选</li>
            <li>美食</li>
            <li>百货</li>
            <li>个护</li>
            <li>预告</li>
          </ul>
        </div>

        <div class="days-two">
          <div class="day-a">
            <div class="a1">202天最低价</div>
            <img src="https://img10.360buyimg.com/seckillcms/s144x144_jfs/t1/128700/27/18290/202125/5fad4203E541847f8/646f83f70d9d8175.jpg!q70.jpg.webp" alt="">
            <p>每日坚果礼盒540g混合</p>
            <span><b>￥29 </b> <s>￥79</s></span>
          </div>
          <div class="day-b">
            <img src="https://img30.360buyimg.com/seckillcms/s144x144_jfs/t30763/269/1205944072/1003594/f061689d/5cda107fNbc3e8735.png!q70.jpg.webp" alt="">
            <div class="c">
              <span>500g约32颗牛皮糖芝麻</span>
              <p>￥9.9</p>
              <a href="">￥19.9</a>
              <div class="d">241天最低价</div>
            </div>
          </div>

          <div class="day-b">
            <img src="https://img30.360buyimg.com/seckillcms/s144x144_jfs/t1/146861/39/14501/43415/5fb097ffEfebf5f6e/39bb76256dd53495.jpg!q70.jpg.webp" alt="">
            <div class="c">
              <span>500g约32颗牛皮糖芝麻</span>
              <p>￥9.9</p>
              <a href="">￥19.9</a>
              <div class="d">241天最低价</div>
            </div>
          </div>

          <div class="day-b" style="margin-top: 30px;">
            <img src="https://img11.360buyimg.com/seckillcms/s144x144_jfs/t1/122438/18/18317/82340/5fad3a67E263537c7/cc0f8070b6c1d441.jpg!q70.jpg.webp" alt="">
            <div class="c">
              <span>500g约32颗牛皮糖芝麻</span>
              <p>￥9.9</p>
              <a href="">￥19.9</a>
              <div class="d">241天最低价</div>
            </div>
          </div>

          <div class="day-b" style="margin-top: 30px;">
            <img src="https://img14.360buyimg.com/seckillcms/s144x144_jfs/t1/150211/28/16575/201941/5fc87d36E2d8f7289/5f38672040dbe249.jpg!q70.jpg.webp" alt="">
            <div class="c">
              <span>500g约32颗牛皮糖芝麻</span>
              <p>￥9.9</p>
              <a href="">￥19.9</a>
              <div class="d">241天最低价</div>
            </div>
          </div>

        </div>
      </div>

      <div class="brand">
        <div class="days-one">
          <h3>品牌闪购&nbsp;</h3>
          <span class="iconfont">&#xe512;</span>
        </div>
        <div class="a1">
          <img src="https://img20.360buyimg.com/seckillcms/s120x60_jfs/t1/135499/13/18275/7210/5fc5de47E597b140b/e85cfc271ba686db.png!cc_120x60.webp" alt="" style="width: 70px; height: 35px; margin-top: 15px; margin-left: 100px;">
          <h6>玉友珠宝美玉特卖</h6>
          <h5>爆款直降 | 仅剩 2 天</h5>
          <img src="https://img12.360buyimg.com/seckillcms/s780x780_jfs/t1/89/4/4214/71755/5b988dfeE7ba950c5/668cd6f72831ade1.jpg!cc_130x130.webp" alt="" style="width: 130px; height: 130px; margin-left: 70px; margin-top: 15px;">
        </div>
        <div class="a2">
          <div class="list">
            <img src="https://img30.360buyimg.com/seckillcms/s600x300_jfs/t1/135499/13/18275/7210/5fc5de47E597b140b/e85cfc271ba686db.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
          <div class="list">
            <img src="https://img13.360buyimg.com/seckillcms/s600x300_jfs/t1/137633/26/16769/20160/5fc8600dEfac8fbf7/4b842c258ecbef5f.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
          <div class="list">
            <img src="https://img30.360buyimg.com/seckillcms/s600x300_jfs/t1/141864/21/16638/5142/5fc755b8E2a8fa1f9/a66b57367424981b.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
          <div class="list">
            <img src="https://img30.360buyimg.com/seckillcms/s600x300_jfs/t1/150957/40/9076/9446/5fc8b2c5Eb2280fe9/4c186399f4e39d41.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
          <div class="list">
            <img src="https://img13.360buyimg.com/seckillcms/s600x300_jfs/t1/136010/38/18414/30886/5fc99efeE065251aa/29482eef2ac18a3e.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
          <div class="list">
            <img src="https://img30.360buyimg.com/seckillcms/s600x300_jfs/t1/134424/29/18145/6204/5fc5fc59Ee3cc65e2/7e4cfd6ad49eb1b6.png!cc_300x150.webp" alt="">
            <h4>玉友珠宝美玉特卖</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="box-b every">
      <img src="./images/find.png" alt="">
      <div class="list" style="margin-left: 25px;">
        <img src="https://img14.360buyimg.com/mobilecms/s300x300_jfs/t1/89346/25/5666/65323/5def1264Ee999468c/4ddb185f1231f44b.jpg!q70.jpg.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
      <div class="list">
        <img src="https://img30.360buyimg.com/ceco/s300x300_jfs/t1/127182/38/17518/116377/5fa51d29E35c5503c/6f56175962bb9e31.png.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
      <div class="list">
        <img src="https://img11.360buyimg.com/ceco/s300x300_jfs/t1/137513/18/10771/215508/5f6ea84bE3bdde179/37443ef0233e5787.jpg!q70.jpg.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
      <div class="list">
        <img src="https://img13.360buyimg.com/ceco/s300x300_jfs/t1/120543/19/9066/46995/5f2b6a36Eaec00d8a/d4edf0ceb86bdadd.jpg!q70.jpg.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
      <div class="list">
        <img src="https://img20.360buyimg.com/ceco/s300x300_jfs/t1/99687/30/14084/117044/5e60e786E716911de/a9881b30c420d927.jpg!q70.jpg.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
      <div class="list">
        <img src="https://img11.360buyimg.com/mobilecms/s300x300_jfs/t1/79659/23/8533/54682/5d673e1cEdf55ff6d/cc7a9e5f2e2abd3a.jpg!q70.jpg.webp" alt="">
        <h6>金士顿 金属迷你大容...</h6>
      </div>
    </div>

    <div class="box-c every">
      <div class="newplays">
        <h1>新品首发 <span class="iconfont" style="color: red">&#xe512;</span></h1>
        <img src="https://img12.360buyimg.com/babel/s240x240_jfs/t1/139069/16/17511/101872/5fce2bd0Ef62584d6/82c639f3ff4431b5.jpg!cc_120x120.webp" alt="">
        <h2>博朗（Braun）男士电动剃须...</h2>
        <h6>来这里发现更多新品</h6>
        <p>￥799.00起</p>
      </div>
      <div class="newplays">
        <h1>排行榜 <span class="iconfont" style="color: red">&#xe512;</span></h1>
        <div class="list">
          <span>休闲零食</span>
          <span>润唇膏</span>
          <span>男士润唇膏</span>
          <span>护理护具</span>
        </div>
        <div class="a6">
          <img src="./images/num1.png" alt="">
          <img src="https://img13.360buyimg.com/mobilecms/s200x200_jfs/t1/132586/5/18885/179455/5fce1e95E98233a16/467b278d1457f0b8.jpg!q90.webp" alt="">
          <h6>三只松鼠每日坚果 750g/30袋 儿童孕妇零</h6>
        </div>
        <div class="a6">
          <img src="./images/num2.png" alt="">
          <img src="https://img14.360buyimg.com/mobilecms/s140x140_jfs/t1/142085/4/17403/145729/5fcdeaddEa69e25b6/d8237cf2d7a9674f.jpg!q90.webp" alt="">
          <h6>三只松鼠奶油味夏威夷果 坚果炒货孕妇坚</h6>
        </div>
        <div class="a6">
          <img src="./images/num3.png" alt="">
          <img src="https://img20.360buyimg.com/mobilecms/s140x140_jfs/t1/138208/26/17330/144896/5fcdeb0dEeef41005/e51171b90f156874.jpg!q90.webp" alt="">
          <h6>三只松鼠每日坚果开心果 进口加州坚果炒货</h6>
        </div>
      </div>
      <div class="newplays">
        <h1>逛好店 <span class="iconfont" style="color: red">&#xe512;</span></h1>
        <div class="a8">
          <div class="list">
            <div class="item-a">伊利牛奶京东自营旗舰店</div>
            <div class="item-b">
              <span>自营</span>
              <span>吃货最爱</span>
              <img src="https://img20.360buyimg.com/mobilecms/s200x200_jfs/t1/147565/4/11614/112793/5f8efdc0E7d2f9517/f00b61fa74ccce92.jpg.webp" alt="">
            </div>
            <span>2001.6万</span>
          </div>
          <div class="list">
            <div class="item-a">小林制药海外旗舰店</div>
            <div class="item-b">
              <span style="border: none;"></span>
              <span>美颜出镜</span>
              <img src="https://img14.360buyimg.com/mobilecms/s200x200_jfs/t1/148113/38/16918/653725/5fc98c3eEa3c43989/d58089708508805d.png.webp" alt="">
            </div>
            <span>2001.6万</span>
          </div>
        </div>
      </div>
      <div class="newplays">
        <h1>领券中心 <span class="iconfont" style="color: red">&#xe512;</span></h1>
        <div class="plays">
          <img src="./images/money.png" alt="">
        </div>
      </div>
    </div>

  </div>

  <!-- 频道广场 -->
  <div class="big-floor every">
    <h1>频道广场</h1>
    <div class="floor-one">
      <div class="a1">
        <img src="https://img11.360buyimg.com/babel/s580x740_jfs/t1/150522/25/8766/124258/5fc5f87bE306196d4/f598c8d6262986dd.jpg!cc_290x370.webp" alt="">
      </div>
      <div class="a1">
        <img src="https://img20.360buyimg.com/babel/s580x740_jfs/t1/136384/29/17764/192157/5fc4d0cbEdc267404/eb03385dff2ff8e1.jpg!cc_290x370.webp" alt="">
      </div>
      <div class="a2">
        <h1>京东超市<span>一站式屯生活好物</span></h1>
        <div class="a3">
          <img src="https://img14.360buyimg.com/img/s200x200_jfs/t19429/345/2114569686/193072/6f671ab/5ae74720N203d91fc.jpg!cc_100x100.webp" alt="">
          <img src="https://img20.360buyimg.com/img/s200x200_jfs/t1/90532/35/13971/346433/5e5f7807Ebe43c785/fccb11b4645a0393.jpg!cc_100x100.webp" alt="">
        </div>
      </div>
      <div class="a2" style="margin-right: 0;">
        <h1>汽车生活<span>放心养车 爱车无忧</span></h1>
        <div class="a3">
          <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/73672/27/2184/213442/5d08e765E79ea2f0d/9f47094b87f0e166.jpg!cc_100x100.webp" alt="">
          <img src="https://img10.360buyimg.com/img/s200x200_jfs/t1/145410/16/8581/69811/5f61b71cE9257da04/beb1ae24bbe98eb2.jpg!cc_100x100.webp" alt="">
        </div>
      </div>
      <div class="a2">
        <h1>个护清洁馆<span>欢洗四季 洁净生活</span></h1>
        <div class="a3">
          <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/28107/16/7136/194549/5c667a48E9fe0e5bf/fafdbd2602417069.jpg!cc_100x100.webp" alt="">
          <img src="https://img12.360buyimg.com/img/s200x200_jfs/t1/91027/11/186/163437/5da91fafE778a29c0/983e5b74b103ff67.jpg!cc_100x100.webp" alt="">
        </div>
      </div>
      <div class="a2" style="margin-right: 0;">
        <h1>京东图书<span>遇见恰好的书</span></h1>
        <div class="a3">
          <img src="https://img10.360buyimg.com/img/s200x200_jfs/t1/142534/14/10423/379333/5f816424E9213a9ae/fef78c03e6b308a9.jpg!cc_100x100.webp" alt="">
          <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/138214/11/11659/178949/5f9125e9E9f1854df/b686f6db57f352d4.jpg!cc_100x100.webp " alt="">
        </div>
      </div>
    </div>

    <div class="floor-two">
      <h1>企业购<span>一站式企业采购平台</span></h1>
      <div class="a3">
        <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/154979/6/1937/59194/5f810a8bEbc6be9d0/b397db635e6818d0.jpg!cc_100x100.webp" alt="">
        <img src="https://img20.360buyimg.com/img/s200x200_jfs/t1/124828/39/1629/125862/5ebe2c80Ee8a0badf/5f53e69e21633c72.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>生鲜馆<span>尝遍天下鲜</span></h1>
      <div class="a3">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/58663/5/15029/554466/5dc1682fE5efdf2b2/919dbc51b2730e2a.png!cc_100x100.webp" alt="">
        <img src="https://img12.360buyimg.com/img/s200x200_jfs/t1/141881/30/15810/101649/5fc071d9E4630c2c8/45c86a2e53a96c7d.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>中外名酒<span>享全球美酒品美好生活</span></h1>
      <div class="a3">
        <img src="https://img10.360buyimg.com/img/s200x200_jfs/t1/148893/38/2293/302436/5f0425cdE4419917c/6e4c3170bb29e301.jpg!cc_100x100.webp" alt="">
        <img src="https://img14.360buyimg.com/img/s200x200_jfs/t1/96933/25/1482/155790/5dbfd5b8E390fac06/39330d260c9b0cc6.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two" style="margin-right: 0;">
      <h1>京东国际<span>一站尽享进口好物</span></h1>
      <div class="a3">
        <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/10172/35/4447/87529/5c0e0d22E71020d8e/db8110765f0246d5.jpg!cc_100x100.webp" alt="">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/19555/11/7564/119333/5c6e1d23Ee2e27a4c/a98ab1fa6ca9afbd.jpg!cc_100x100.webp" alt="">
      </div>
    </div>

    <div class="floor-two">
      <h1>Joy寻宝<span>懂你的Joy</span></h1>
      <div class="a3">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t11134/42/757712452/264410/bd2d6037/59f85e5dN646dde9b.jpg!cc_100x100.webp" alt="">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/133112/32/15731/82582/5fadfda2E03a3408b/c4658792d11af168.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>京东金融<span>会理财 懂生活</span></h1>
      <div class="a3">
        <img src="https://img30.360buyimg.com/babel/s200x200_jfs/t1/80069/37/847/13255/5cf0f8e5E98518181/2f1daf302659471b.jpg!cc_100x100.webp" alt="">
        <img src="https://img11.360buyimg.com/babel/s200x200_jfs/t1/44193/25/5593/12371/5cf0f8a1E5ef273fa/6dc53738a6df44c5.png!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>企业好店<span>企业用户都在逛</span></h1>
      <div class="a3">
        <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/63496/5/10962/197166/5d847c7cE8de92f0f/469356c826d4317f.jpg!cc_100x100.webp" alt="">
        <img src="https://img30.360buyimg.com/img/s200x200_jfs/t1/103679/39/9249/161796/5e0d9692E63165789/ae6432cc7956c187.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two" style="margin-right: 0;">
      <h1>京东工业品<span>一站式工业品采购平台</span></h1>
      <div class="a3">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/69506/8/3044/214995/5d1446b3E70fb4cb7/462c389bae059302.jpg!cc_100x100.webp" alt="">
        <img src="https://img20.360buyimg.com/img/s200x200_jfs/t1/153907/33/6449/54921/5fb5d18fEc426689c/984568a84fdc804a.jpg!cc_100x100.webp" alt="">
      </div>
    </div>

    <div class="floor-two">
      <h1>食品饮料<span>吃货嘉年华</span></h1>
      <div class="a3">
        <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/146890/30/17050/164636/5fc99a63E0f257d38/f46e55b5173304d4.jpg!cc_100x100.webp" alt="">
        <img src="https://img10.360buyimg.com/img/s200x200_jfs/t1/114873/39/14106/126503/5f2ba9cdE6e6378f2/8a891375e30754cc.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>京东健康<span>健康才是真的好</span></h1>
      <div class="a3">
        <img src="https://img14.360buyimg.com/img/s200x200_jfs/t1/153047/21/8909/128672/5fcdebf5E11cc748f/f778e8a2fd9d3c45.jpg!cc_100x100.webp" alt="">
        <img src="https://img20.360buyimg.com/img/s200x200_jfs/t1/90851/26/15451/93371/5e703befE3728c3d5/4c9e4c85df24e1b6.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two">
      <h1>智能数码<span>尽享玩物</span></h1>
      <div class="a3">
        <img src="https://img13.360buyimg.com/img/s200x200_jfs/t1/132549/13/7602/50860/5f3e4926E8dc899e7/ea99eabb3dba7ad1.jpg!cc_100x100.webp" alt="">
        <img src="https://img11.360buyimg.com/img/s200x200_jfs/t1/39255/13/13727/40170/5d4c2a77E68b8bf07/c96d84c1e3570cbd.jpg!cc_100x100.webp" alt="">
      </div>
    </div>
    <div class="floor-two" style="margin-right: 0;">
      <h1>拍拍二手<span>大牌1元抢</span></h1>
      <div class="a3">
        <img src="https://img30.360buyimg.com/img/s200x200_jfs/t1/95024/3/2569/70923/5dd226a1E6154441f/158b268751df102e.jpg!cc_100x100.webp" alt="">
        <img src="https://img12.360buyimg.com/img/s200x200_jfs/t1/77299/33/6857/515844/5d4cdb09Ef10b2ecc/88f2a84ce09107a2.png!cc_100x100.webp" alt="">
      </div>
    </div>

  </div>
  
  <!-- 为你推荐 -->
  <div class="recommend every">
      <h1>为你推荐</h1>
      <div class="reco">
        <ul>
          <li>
            <div><span>精选</span></div>
            <h5>猜你喜欢</h5>
          </li>
          <li>
            <div><span>智能先锋</span></div>
            <h5>大电器城</h5>
          </li>
          <li>
            <div><span>居家优品</span></div>
            <h5>品质生活</h5>
          </li>
          <li>
            <div><span>超市百货</span></div>
            <h5>百货生鲜</h5>
          </li>
          <li>
            <div><span>时尚达人</span></div>
            <h5>美妆穿搭</h5>
          </li>
          <li>
            <div><span>进口好物</span></div>
            <h5>京东国际</h5>
          </li>
        </ul>
      </div>
      <div class="goods goodsList">
        <ul>
          <!-- <li>
            <img src="https://img11.360buyimg.com/jdcms/s300x300_jfs/t15451/156/2600159558/268013/639cd945/5aa8f0b5N0858f691.jpg.webp" alt="">
            <p>
              原尚工房 休闲零食坚果炒货  每日坚果孕妇食品 干果...
            </p>
            <div class="money">
              ￥39.90
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img14.360buyimg.com/jdcms/s300x300_jfs/t1/137447/16/18409/87456/5fc9c650E4e877307/6d9bed6c985d1432.jpg.webp" alt="">
            <p>
              妮维雅(NIVEA)润唇膏男士型(滋润保湿 温和配方）
            </p>
            <div class="money">
              ￥28.00
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img14.360buyimg.com/jdcms/s300x300_jfs/t1/148118/18/15201/115393/5fb7842dEec2789f3/f3476a222dfb78ea.jpg.webp" alt="">
            <p>
              伤迪 旋清抗菌膏生肌膏卧床老人护理膏长期卧床草...
            </p>
            <div class="money">
              ￥365.00
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img20.360buyimg.com/jdcms/s300x300_jfs/t1/151740/37/9078/172280/5fcee73fE761a4c1a/802312e2aefde1b6.jpg.webp" alt="">
            <p>
              三只松鼠每日坚果 750g/30袋 儿童孕妇零食节日大...
            </p>
            <div class="money">
              ￥149.00
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img14.360buyimg.com/jdcms/s300x300_jfs/t1/129171/18/18782/141385/5fb33047E42284fb4/794d82d50b91c368.jpg.webp" alt="">
            <p>
              阿芙AFU小王子变色唇膏 保湿滋润淡化唇纹润唇膏女男通...
            </p>
            <div class="money">
              ￥94.00
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img14.360buyimg.com/jdcms/s300x300_jfs/t1/129171/18/18782/141385/5fb33047E42284fb4/794d82d50b91c368.jpg.webp" alt="">
            <p>
              阿芙AFU小王子变色唇膏 保湿滋润淡化唇纹润唇膏女男通...
            </p>
            <div class="money">
              ￥94.00
            </div>
            <div class="money-one">
              券
            </div>
          </li>

          <li>
            <img src="https://img14.360buyimg.com/jdcms/s300x300_jfs/t1/129171/18/18782/141385/5fb33047E42284fb4/794d82d50b91c368.jpg.webp" alt="">
            <p>
              阿芙AFU小王子变色唇膏 保湿滋润淡化唇纹润唇膏女男通...
            </p>
            <div class="money">
              ￥94.00
            </div>
            <div class="money-one">
              券
            </div>
          </li> -->
        </ul>
      </div>
  </div>
  
  <!-- 网页底部 -->
  <div class="footer every">
    <div class="max">
      <ul>
        <li>
          <img src="./images/duo.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/kuai.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/hao.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/sheng.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
      </ul>
    </div>
    <div class="none"></div>
    <div class="over">
      <div class="help">
        <h5>购物指南</h5>
        <ul>
          <li>购物流程</li>
          <li>会员介绍</li>
          <li>生活旅行</li>
          <li>常见问题</li>
          <li>大家电</li>
          <li>联系客服</li>
        </ul>
      </div>

      <div class="help">
        <h5>配送方式</h5>
        <ul>
          <li>上门自提</li>
          <li>211限时达</li>
          <li>配送服务查询</li>
          <li>配送费收取标准</li>
          <li>海外配送</li>
        </ul>
      </div>

      <div class="help">
        <h5>支付方式</h5>
        <ul>
          <li>货到付款</li>
          <li>在线支付</li>
          <li>分期付款</li>
          <li>公司转账</li>
        </ul>
      </div>
      
      <div class="help">
        <h5>售后服务</h5>
        <ul>
          <li>售后政策</li>
          <li>价格保护</li>
          <li>退款说明</li>
          <li>返修/退换货</li>
          <li>取消订单</li>
        </ul>
      </div>

      <div class="help">
        <h5>特色服务</h5>
        <ul>
          <li>夺宝岛</li>
          <li>DIY装机</li>
          <li>延保服务</li>
          <li>京东E卡</li>
          <li>京东通信</li>
          <li>京鱼座智能</li>
        </ul>
      </div>

      <div class="help">
        <h5>京东自营覆盖区县</h5>
        <p>
          京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。
        </p>
        <h6>查看详情</h6>
      </div>
    </div>
    <div class="list-over">
      <ul>
        <li><span>关于我们</span></li>
        <li><span>联系我们</span></li>
        <li><span>联系客服</span></li>
        <li><span>合作招商</span></li>
        <li><span>商家帮助</span></li>
        <li><span>营销中心</span></li>
        <li><span>手机京东</span></li>
        <li><span>友情链接</span></li>
        <li><span>销售联盟</span></li>
        <li><span>京东社区</span></li>
        <li><span>风险监测</span></li>
        <li><span>隐私政策</span></li>
        <li><span>京东公益</span></li>
        <li><span>English Site</span></li>
        <li style="border: none;"><span>Media & IR</span></li>
      </ul>
    </div>
    <div class="list-next1" style="margin-top: 15px;">
      <ul>
        <li><span>京公网安备 11000002000088号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;互联网药品信息服务资格证编号(京)-经营性-2014-0008&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;新出发京零 字第大120007号&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>互联网出版许可证编号新出网证(京)字150号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;网络文化经营许可证京网文[2014]2148-348号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东JD.com 版权所有&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;消费者维权热线：4006067733 &nbsp; 经营证照 &nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;(京)网械平台备字(2018)第00003号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;营业执照&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>Global Site&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Сайт России&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Situs Indonesia&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Sitio de España&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;เว็บไซต์ประเทศไทย&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东旗下网站：京东钱包&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;京东智联云&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <img src="./images/last.png" alt="">

  </div>

  
  <script src="./assets/jquery/jquery.min.js"></script>
  <script src="./assets/jquery-pagination/jquery.paginatuon.js"></script>
  <script src="./js/public.js"></script>
  <script src="./js/banner.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/list.js"></script>
  <script src="./js/form.js"></script>
  <script>
    const b = new Banner('.banner')
    console.log(b)
  </script>
</body>
</html>
