<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/public.css">
  <link rel="stylesheet" href="./css/login.css">
</head>
<body>
  <div class="header every">
    <div class="login">
      <img src="https://misc.360buyimg.com/lib/img/e/logo-201305-b.png" alt="">
    </div>
    <h1>欢迎登陆</h1>
    <div class="test">
      <img src="https://misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png" alt="">
      <span>登录页面，调查问卷</span>
    </div>
    
  </div>

  <div class="banner">
    <div class="login every">
      <div class="text">
        <div class="login-top">
          <div class="top-a">扫码登录</div>
          <div class="top-b">账户登录</div>
        </div>

        <form class="col-sm-11" id="login">
          <div class="form-group">
            <label for="username">
              <img src="./images/logins_02.jpg" alt="" class="a6">
            </label>
            <input type="text" name="username" class="form-control" autocomplete="off" id="username" placeholder="邮箱/用户名/登录手机">
          </div>
          <div class="form-group">
            <label for="password">
              <img src="./images/logins_01.jpg" alt="" class="a6" style="margin-top: 20px;">
            </label>
            <input type="text" name="password" class="form-control" autocomplet e="off" id="password" placeholder="密码" style="margin-top: 20px;">
          </div>
          <h6 class="not"><span class="know">忘记密码</span></h6>
          <button type="submit" class="login btn b8tn-success col-sm-5">登 &nbsp; &nbsp;录</button>
        </form>
        <div class="qq">
          <div class="q1">
            <img src="./images/qq.png" alt="">
            <span>QQ &nbsp;</span>
          </div>
          <div class="q2">
            <img src="./images/wx.png" alt="">
            <span>微信</span>
          </div>
          <div class="q3"><span>立即注册</span></div>
        </div>
        
      </div>
    
    </div>
  </div>

  <div class="footer every">
    <div class="max">
      <ul>
        <li>
          <img src="./images/duo.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/kuai.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/hao.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
        <li>
          <img src="./images/sheng.png" alt="">
          <span>品类齐全，轻松购物</span>
        </li>
      </ul>
    </div>
    <div class="none"></div>
    <div class="over">
      <div class="help">
        <h5>购物指南</h5>
        <ul>
          <li>购物流程</li>
          <li>会员介绍</li>
          <li>生活旅行</li>
          <li>常见问题</li>
          <li>大家电</li>
          <li>联系客服</li>
        </ul>
      </div>

      <div class="help">
        <h5>配送方式</h5>
        <ul>
          <li>上门自提</li>
          <li>211限时达</li>
          <li>配送服务查询</li>
          <li>配送费收取标准</li>
          <li>海外配送</li>
        </ul>
      </div>

      <div class="help">
        <h5>支付方式</h5>
        <ul>
          <li>货到付款</li>
          <li>在线支付</li>
          <li>分期付款</li>
          <li>公司转账</li>
        </ul>
      </div>
      
      <div class="help">
        <h5>售后服务</h5>
        <ul>
          <li>售后政策</li>
          <li>价格保护</li>
          <li>退款说明</li>
          <li>返修/退换货</li>
          <li>取消订单</li>
        </ul>
      </div>

      <div class="help">
        <h5>特色服务</h5>
        <ul>
          <li>夺宝岛</li>
          <li>DIY装机</li>
          <li>延保服务</li>
          <li>京东E卡</li>
          <li>京东通信</li>
          <li>京鱼座智能</li>
        </ul>
      </div>

      <div class="help">
        <h5>京东自营覆盖区县</h5>
        <p>
          京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。
        </p>
        <h6>查看详情</h6>
      </div>
    </div>
    <div class="list-over">
      <ul>
        <li><span>关于我们</span></li>
        <li><span>联系我们</span></li>
        <li><span>联系客服</span></li>
        <li><span>合作招商</span></li>
        <li><span>商家帮助</span></li>
        <li><span>营销中心</span></li>
        <li><span>手机京东</span></li>
        <li><span>友情链接</span></li>
        <li><span>销售联盟</span></li>
        <li><span>京东社区</span></li>
        <li><span>风险监测</span></li>
        <li><span>隐私政策</span></li>
        <li><span>京东公益</span></li>
        <li><span>English Site</span></li>
        <li style="border: none;"><span>Media & IR</span></li>
      </ul>
    </div>
    <div class="list-next1" style="margin-top: 15px;">
      <ul>
        <li><span>京公网安备 11000002000088号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;互联网药品信息服务资格证编号(京)-经营性-2014-0008&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;新出发京零 字第大120007号&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>互联网出版许可证编号新出网证(京)字150号&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;网络文化经营许可证京网文[2014]2148-348号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;违法和不良信息举报电话：4006561155&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东JD.com 版权所有&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;出版物经营许可证&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;消费者维权热线：4006067733 &nbsp; 经营证照 &nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;(京)网械平台备字(2018)第00003号&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;营业执照&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>Global Site&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Сайт России&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Situs Indonesia&nbsp;&nbsp;</span></li>
        <li><span>&nbsp;&nbsp;Sitio de España&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;เว็บไซต์ประเทศไทย&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div class="list-next1">
      <ul>
        <li><span>京东旗下网站：京东钱包&nbsp;&nbsp;</span></li>
        <li style="border: none;"><span>&nbsp;&nbsp;京东智联云&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <img src="./images/last.png" alt="">

  </div>

  <script src="./assets/jquery/jquery.min.js"></script>
  <script src="./assets/jquery-validation/jquery.validate.min.js"></script>
  <script src="./assets/jquery-validation/localization/messages_zh.min.js"></script>
  <script src="./js/public.js"></script>
  <script src="./js/login.js"></script>
</body>
</html>