.every {
    width: 1190px;
    margin: 0 auto;
  }
    
  html {
    background-color: #f5f5f5;
  }
    
  .header1 {
    width: 100%;
    height: 30px;
    background-color: #e3e4e5;
  }
    
  .header1 > .address > .iconfont{
    color: red; 
    float: left;
  }
    
  .header1 > .address > .iconfont > a{
    color: #999; 
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
  }
    
  .header1 > .address > .iconfont > a:hover{
    color: red; 
  }

.header1 > .address > ul {
  overflow: hidden;
}
    
  .header1 > .address > ul > li{
    float: right;
    font-size: 12px;
    color: #999;
    cursor: pointer;
    line-height: 30px;
    margin-right: 8px;
    
  }
    
  .header1 > .address > ul > li > a {
    font-size: 12px;
    color: #999;
    line-height: 30px;
    margin-right: 8px;
    
  }
  
  .header1 > .address > ul > li > span {
      color: #e1251a;
  }
    
  .hide{
    display: none;
  }
    
  .header1 > .address > ul > li:hover {
    color: red; 
  }
    
  .header1 > .address > ul > li > a:hover {
    color: red; 
  }
    
  .header2 {
    width: 100%;
    height: 140px;
    background-color: #f5f5f5;
    z-index: 999999;
  }
    
  .logo {
    border: 1px solid transparent;
    z-index: 9999;
  }
    
  .header2 > .logo > img {
    margin-top: 20px;
    float: left;
  }
    
  .forms {
    float: left;
    width: 550px;
    height: 36px;
    border: 2px solid #e2231a;
    display: flex;
    margin: 30px auto;
    position: relative;
    margin-left: 110px;
    z-index: 999;
  }
    
  .forms > .iconfont {
    position: absolute;
    right: 80px;
    top: 28%;
    cursor: pointer;
  }
    
  .forms > .iconfont:hover {
    color: #e1251b;
  }
    
  .inp {
    border: none;
    outline: none;
    width: 89%;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 30px;
    padding: 2px 44px 2px 17px;
    font-size: 12px;
    color: #666;
    text-align: left;
    position: absolute;
    height: 100%;
    left: 0px;
  }
    
    .but {
      border: none;
      outline: none;
      flex: 1;
      background-color: #e1251b;
      color: #fff;
      font-size: 30px;
      cursor: pointer;
      width: 59px;
      height: 36px;
      line-height: 1px;
      position: absolute;
      right: -1px;
      top: 0px;
      z-index: 9999;
    }
    
    .but > span {
      font-size: 20px;
      font-weight: 700;
      line-height: 10px;
    }
    
    .form-one {
      position: absolute;
      top: 100%;
      left: -3px;
      width: calc(100% - 55px);
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: #fff;
      z-index: 99;
      margin-top: 3px;
    
      display: none;
    }
    
    .form-one.active {
      display: block;
    }
    
    .but:hover {
      background-color: #c70a00;
    }
    
    .form-one > li {
      list-style: none;
      width: 100%;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      cursor: pointer;
      color: #999;
    }
    
    .dropdown {
      width: 132px;
      height: 36px;
      border: 1px solid #e3e4e5;
      float: left;
      margin-top: 30px;
      margin-left: 20px;
      line-height: 34px;
    }
    
    .dropdown > span {
      color: #e1251b;
      font-size: 13px;
      margin-left: 20px;
      font-weight: 900;
    }
    
    .dropdown > a {
      color: #e1251b;
      font-size: 12px;
      margin-left: 7px;
    }
    
    .dropdown:hover {
      border-color: #e1251a;
    }
    
    .form-one > li:hover {
      background-color: rgb(204, 203, 203, .3);
    }
    
    .login-next {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
    
    .list-next {
      width: 762px;
      height: 40px;
      margin-top: 100px;
      margin-left: 180px;
    }
    
    .list-next > ul {
      display: flex;
      justify-content: space-between;
    }
    
    .list-next > ul > li {
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      color: #333;
      cursor: pointer;
      font-family: 微软雅黑;
    
    }
    
    .list-next > ul > li:nth-child(1), .list-next > ul > li:nth-child(2) {
      font-weight: 700;
      color: #e1251b;
      font-family: 微软雅黑;
    } 
    
  .list-next > ul > li:nth-child(1):hover, .list-next > ul > li:nth-child(2):hover {
    color: #c70a00;
  }
    
  .list-next > ul > li:hover {
    color: #e1251a;
  }
    
  .list-one {
    width: 100%;
    height: 480px;
    
  }
    
  .list-one > .list > ul{
    width: 190px;
    height: 450px;
    float: left;
    font-size: 10px;
    padding: 10px 0;
    height: 450px;
    color: #636363;
    margin-top: 10px;
    background-color: #fff;
  }
    
  .list-one > .list > ul > li {
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
  }
    
  .list-one > .list > ul > li > a {
    color: #333;
    font-size: 13px;
  }
    
  .list-one > .list > ul > li > a:hover {
    color: red;
  }

  .content {
    margin-top: 30px;
  }
  
  .content .selectAll {
    font-size: 20px;
    position: relative;
  }
  
  .content .selectAll > input {
    width: 20px;
    height: 20px;
  }
  
  .content .selectAll > .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 700;
    color: green;
  }
  
  .content .goodsList > li {
    height: 100px;
    padding: 10px 0;
    display: flex;
    border: 1px solid #333;
    margin-bottom: 10px;
  }
  
  .content .goodsList > li:last-child {
    margin-bottom: 0;
  }
  
  .content .goodsList > li > .select {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content .goodsList > li > .goodsImg {
    width: 100px;
    margin-right: 20px;
  }
  
  .content .goodsList > li > .goodsDesc {
    width: 300px;
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .content .goodsList > li > .goodsDesc > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  
  .content .goodsList > li > .price,
  .content .goodsList > li > .xiaoji {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .content .goodsList > li > .count {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content .goodsList > li > .count > button {
    width: 30px;
    height: 30px;
  }
  
  .content .goodsList > li > .count > input {
    width: 75px;
    height: 33px;
    text-align: center;
    border: none;
  }
  
  .content .goodsList > li > .operate {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buyInfo {
    display: flex;
    align-items: center;
  }
  
  .buyInfo > .buyNum,
  .buyInfo > .buyMoney,
  .buyInfo > .operate {
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .buyInfo > .buyNum > span,
  .buyInfo > .buyMoney > span {
    font-size: 30px;
  }
    
  .content, .info {
    margin-top: 30px;
  }
  
  .footer {
    height: 566px;
    margin-top: 15px;
    overflow: hidden;
  }
  
  .footer > .max {
    height: 42px;
    margin-top: 30px;
  }
  
  .footer > .max > ul > li {
    float: left;
    margin-left: 36px;
  }
  
  .footer > .max > ul > li > img {
    width: 36px;
    height: 42px;
    float: left;
    margin-left: 30px;
  }
  
  .footer > .max > ul > li > span {
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin-left: 10px;
  }
  
  .footer > .none {
    height: 30px;
    border-bottom: 1px solid #dedede;
  }
  
  .footer > .over {
    height: 190px;
    margin-top: 10px;
    border-bottom: 1px solid #dedede;
  }
  
  .footer > .over > .help {
    color: #666;
    font-size: 12px;
    width: 198px;
    float: left;
  }
  
  .footer > .over > .help > ul {
    margin-top: 5px;
  }
  
  .footer > .over > .help > ul > li {
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    color: #666;
    font-size: 12px;
  }
  
  .footer > .over > .help > p {
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    color: #666;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .footer > .over > .help > h6 {
    color: #666;
    text-align: right;
    font-size: 12px;
    margin-top: 40px;
    margin-right: 3px;
    cursor: pointer;
  }
  
  .footer > .over > .help > ul > li:hover {
    color: #e1251b;
  }
  
  .footer > .over > .help h6:hover {
    color: #e1251b;
  }
  
  .footer > .list-over > ul {
    height: 18px;
    display: flex;
    justify-content: space-around;
    color: #666;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .footer > .list-over > ul > li {
    width: 76px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #dedede;
  }
  
  .footer > .list-over > ul > li > span:hover {
    color: #e1251b;
  }
  
  .footer > .list-next1 {
    height: 22px;
  }
  
  .footer > .list-next1 > ul {
    display: flex;
    justify-content: center;
  }
  
  .footer > .list-next1 > ul > li {
    border-right: 1px solid #dedede;
    color: #999;
  }
  
  .footer > .list-next1 > ul > li > span:hover {
    cursor: pointer;
    color: #e1251b;
  }
  
  .footer > img {
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
  }